@model Processos.Models.Setor

@{
    ViewData["Title"] = "Excluir setor";
}


<h3>Você deseja excluir esse setor?</h3>
<div>
    <h4>Setor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="codigoSetor" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <button class="btn btn-outline-secondary"><a asp-action="Index">Voltar</a></button>
    </form>
</div>
