@model Processos.Models.Setor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Setor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.codigoSetor">Editar</a> |
    <button class="btn btn-light"><a asp-controller="Setor" asp-action="Index">Voltar</a></button>
</div>
