@model IEnumerable<Processos.Models.Setor>

<h1>Listagem de Setores</h1>

<p>
    <a asp-action="Create">Adicionar um novo setor</a>
</p>


<DIV id='formBusca'>
    <DIV><input type="text" id="Busca"></DIV>
    <DIV id="contenedorBuscaLista"></DIV>
</DIV>


<SCRIPT>

    $("#Busca").change(function () {
        lista("Setor", "SETOR")
    })

    $("#Busca").on("keypress", function (e) {
        if (e.which == 13) {
            lista("Setor", "SETOR")
        }
    })

    $(document).ready(function () {
        lista("Setor", "SETOR")
    });



</SCRIPT>
