@model Processos.Models.Tipo_Processo

@{
    ViewData["Title"] = "Detalhes";
}



<div>
    <h4>Tipo_Processo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeTipoProcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeTipoProcesso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.codigoTipoProcesso">Editar</a> |
    <button class="btn btn-light"><a asp-controller="Tipo_Processo" asp-action="Index">Voltar</a></button>
</div>
