@model Processos.Models.Tipo_Processo

@{
    ViewData["Title"] = "Editar tipo de processo";
}



<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="codigoTipoProcesso" />
            <div class="form-group">
                <label asp-for="nomeTipoProcesso" class="control-label"></label>
                <input asp-for="nomeTipoProcesso" class="form-control" />
                <span asp-validation-for="nomeTipoProcesso" class="text-danger"></span>
            </div>
            <div class="form-group pt-1">
                <input type="submit" value="Salvar" class="btn btn-primary" /> |
                <button class="btn btn-outline-secondary"><a asp-controller="Tipo_Processo" asp-action="Index">Voltar</a></button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
