@model IEnumerable<Processos.Models.Tipo_Processo>

<h1>Listagem de Tipos de Processos</h1>

<p>
    <a asp-action="Create">Adicionar um novo tipo de processo</a>
</p>


<DIV id='formBusca'>
    <DIV><input type="text" id="Busca"></DIV>
    <DIV id="contenedorBuscaLista"></DIV>
</DIV>


<SCRIPT>

    $("#Busca").change(function () {
        lista("Tipo_Processo", "TIPO_PROCESSO")
    })

    $("#Busca").on("keypress", function (e) {
        if (e.which == 13) {
            lista("Tipo_Processo", "TIPO_PROCESSO")
        }
    })

    $(document).ready(function () {
        lista("Tipo_Processo", "TIPO_PROCESSO")
    });


</SCRIPT>
