################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Processos/Processos/bin/Debug/net6.0
/src/Processos/.vs/Processos
/src/Processos/Processos/obj
/.vs/Cadastro/v17/.wsuo
