
@{
    ViewData["Title"] = "Sistema de Controle de Processos";
}

<div class="text-center">
 

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8 col-xl-4 mb-4">
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Processos abertos</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span id='procabrt'>Carregando...</span></div>
                            </div>
                            <div class="col-auto"><i class="icon ion-ios-filing-outline fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xl-4 mb-4">
                <div class="card shadow border-start-success py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Movimentações</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span id="procand">Carregando...</span></div>
                            </div>
                            <div class="col-auto"><i class="icon ion-ios-shuffle-strong fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-xl-4 mb-4">
                <div class="card shadow border-start-info py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Processos Finalizados</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span id="procfim">Carregando...</span></div>
                            
                            </div>
                            <div class="col-auto"><i class="icon ion-archive fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        

        <div class="row">        
            <div class="">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-bold m-0">Processos iniciados por setor</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-area" id="processosiniciadossetor" style="height:auto">Carregando...</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-bold m-0">Processos localizados por setor</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-area" id="processossetor" style="height:auto">Carregando...</div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    </div>



<SCRIPT>


    $(document).ready(function () {

        atualizarCampoExibicao("SELECT COUNT(*) FROM PROCESSO WHERE situacaoProcesso = 1", "procabrt");
        atualizarCampoExibicao("SELECT COUNT(*) FROM PROCESSO WHERE situacaoProcesso = 2", "procfim");
        atualizarCampoExibicao("SELECT COUNT(*) FROM MOVIMENTACAO ", "procand");


        dashboardsetores("SELECT s.nome, (select concat(count(*), ' ')) FROM PROCESSO p  INNER JOIN SETOR s on  p.codigoSetor = s.codigoSetor  GROUP BY s.nome", "processosiniciadossetor");

        dashboardsetores("SELECT s.nome, (select concat(count(*), ' ') FROM MOVIMENTACAO m WHERE m.codigoSetorLocalizacao = s.codigoSetor AND m.codigoMovimentacao = (select max(codigoMovimentacao) FROM MOVIMENTACAO m2 WHERE m2.codigoProcesso = m.codigoProcesso))  FROM SETOR s", "processossetor");




    });



</SCRIPT>