@model Processos.Models.Processo

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar um novo processo</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="codigoInteressado" id="" class="control-label"></label>
                <input asp-for="codigoInteressado" id="codigoInteressado" class="form-control" style="display:none" />
               
                <a class='fakeinput' href="javascript:speedbutton('INTERESSADO', 'codigoInteressado', 'codigoInteressado', 'nome', 'exibicaoInteressado')">
                    <span id="exibicaoInteressado"></span>
                </a>    

                 <span asp-validation-for="codigoInteressado" class="text-danger"></span>



            </div>
            <div class="form-group">
                <label asp-for="codigoTipoProcesso" class="control-label"></label>
                <input asp-for="codigoTipoProcesso" id="codigoTipoProcesso" class="form-control" style="display:none" />
                
                <a class='fakeinput' href="javascript:speedbutton('TIPO_PROCESSO', 'codigoTipoProcesso', 'codigoTipoProcesso', 'nomeTipoProcesso', 'exibicaoTipoProcesso')">
                  <span id="exibicaoTipoProcesso"></span>
                </a>
                
                <span asp-validation-for="codigoTipoProcesso" class="text-danger"></span>



			</div>


            <div class="form-group">
                <label asp-for="cpfProtocolista" class="control-label"></label>
                <input asp-for="cpfProtocolista" class="form-control" />
                <span asp-validation-for="cpfProtocolista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codigoSetor" class="control-label"></label>
                <input asp-for="codigoSetor" id="codigoSetor" class="form-control" style="display:none"  />
                
                <a class='fakeinput' href="javascript:speedbutton('SETOR', 'codigoSetor', 'codigoSetor', 'nome', 'exibicaoSetor')">
                <span id="exibicaoSetor"></span>
                   
                </a>
                

                <span asp-validation-for="codigoSetor" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="dataHora" class="control-label"></label>
                <input asp-for="dataHora" class="form-control" />
                <span asp-validation-for="dataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="resumo" class="control-label"></label>
                <input asp-for="resumo" class="form-control" />
                <span asp-validation-for="resumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="assunto" class="control-label"></label>
                <input asp-for="assunto" class="form-control" />
                <span asp-validation-for="assunto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
