@model Processos.Models.Processo

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar um processo existente</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="codigoProcesso" />
            <div class="form-group">
                <label asp-for="codigoInteressado" class="control-label"></label>
                <input asp-for="codigoInteressado" id="codigoInteressado" class="form-control" />

                <span id="exibicaoInteressado"></span>

                <a href="javascript:speedbutton('INTERESSADO', 'codigoInteressado', 'codigoInteressado', 'nome', 'exibicaoInteressado')">localizar</a>


                <span asp-validation-for="codigoInteressado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codigoTipoProcesso" class="control-label"></label>
                <input asp-for="codigoTipoProcesso" id="codigoTipoProcesso" class="form-control" />

                <span id="exibicaoTipoProcesso"></span>

                <a href="javascript:speedbutton('TIPO_PROCESSO', 'codigoTipoProcesso', 'codigoTipoProcesso', 'nomeTipoProcesso', 'exibicaoTipoProcesso')">localizar</a>


                <span asp-validation-for="codigoTipoProcesso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cpfProtocolista" class="control-label"></label>
                <input asp-for="cpfProtocolista" class="form-control" />
                <span asp-validation-for="cpfProtocolista" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="codigoSetor" class="control-label"></label>
                <input asp-for="codigoSetor" id="codigoSetor" class="form-control" />
                <span asp-validation-for="codigoSetor" class="text-danger"></span>

                <span id="exibicaoSetor"></span>

                <a href="javascript:speedbutton('SETOR', 'codigoSetor', 'codigoSetor', 'nome', 'exibicaoSetor')">localizar</a>


            </div>
            <div class="form-group">
                <label asp-for="dataHora" class="control-label"></label>
                <input asp-for="dataHora" class="form-control" />
                <span asp-validation-for="dataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="resumo" class="control-label"></label>
                <input asp-for="resumo" class="form-control" />
                <span asp-validation-for="resumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="assunto" class="control-label"></label>
                <input asp-for="assunto" class="form-control" />
                <span asp-validation-for="assunto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<SCRIPT>

    $(document).ready(function () {

        atualizarCampoExibicao("SELECT nome FROM INTERESSADO WHERE codigoInteressado=" + valor('codigoInteressado'), "exibicaoInteressado");
        
        atualizarCampoExibicao("SELECT nome FROM SETOR WHERE codigoSetor=" + valor('codigoSetor'), "exibicaoSetor");
        
        atualizarCampoExibicao("SELECT nomeTipoProcesso FROM TIPO_PROCESSO WHERE codigoTipoProcesso=" + valor('codigoTipoProcesso'), "exibicaoTipoProcesso");

    });

</SCRIPT>