<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Processos - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Processos.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>



<body id ="page-top">
    <div id="wrapper">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                   href="/">
                    <div class="side-bar-brand"><img class="img-fluid pt-3" src="~/lib/logo.png"></div>
                </a>
                <hr class="sidebar-divider my-2" />
                <ul id="accordionSidebar" class="navbar-nav text-light">
                    <li class="nav-item"><a class="nav-link" href='/'><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Index"><i class="fas fa-user"></i><span>Usuários</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Tipo_Processo" asp-action="Index"><i class="fas fa-folder "></i><span>Tipos de Processo</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Setor" asp-action="Index"><i class="fas fa-home"></i><span>Setores</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Interessado" asp-action="Index"><i class="fas fa-user-circle"></i><span>Interessados</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Processo" asp-action="Index"><i class="fas fa-folder-open"></i><span>Processos</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Fluxo" asp-action="Index"><i class="fas  fa-book"></i><span>Fluxo</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="javascript:sair()"><i class="fas fa-window-close"></i><span>Sair do Sistema</span></a>
                    </li>



                </ul>

            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light"
                     style="margin: -18px">
                    <div class="container-fluid">
                        <h4 class="mt-4 ms-2">
                            @ViewData["Title"]
                        </h4>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-md navbar-light" style="width: 1200px;">
                    <div class="container-fluid">
                        <div><a class="navbar-brand d-none" href="#"> </a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
                        <div id="navcol-1" class="collapse navbar-collapse" style="width: 1020px;">
                            <div class="btn-toolbar container-fluid justify-content-center grid gap-1 ">
                                <div class="btn-group" role="group" >
                                    <button class="btn btn-outline-secondary "
                                            type="button"
                                            >
                                        <i class="fa-solid fa-user-plus"></i> <a asp-controller="Usuario" asp-action ="Create" class="text-dark">
                                            Usuário
                                        </a>
                                    </button>
                                </div>
                                <div class="btn-group" role="group" >
                                    <button class="btn btn-outline-secondary"
                                            type="button"
                                           >
                                        <i class="fa-solid fa-folder-plus"></i><a asp-controller="Tipo_Processo" asp-action ="Create" class="text-dark">
                                            Tipo Processo
                                        </a>
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-outline-secondary"
                                            type="button"
                                            >
                                        <i class="fa-solid fa-house-medical"></i><a asp-controller="Setor" asp-action ="Create" class="text-dark">
                                            Setor
                                        </a>
                                    </button>
                                </div>
                                <div class="btn-group" role="group" >
                                    <button class="btn btn-outline-secondary"
                                            type="button"
                                            >
                                        <i class="fa-sharp fa-solid fa-folder-plus"></i> <a asp-controller="Processo" asp-action ="Create" class="text-dark">
                                            Processo
                                        </a>
                                    </button>
                                </div>
                                <div class="btn-group" role="group" >
                                    <button class="btn btn-outline-secondary"
                                            type="button"
                                            >
                                        <i class="fa-solid fa-person-circle-plus"></i><a asp-controller="Interessado" asp-action="Create" class="text-dark">
                                            Interessado
                                        </a>
                                    </button>
                                </div>


                                <div class="btn-group" role="group">
                                    <button class="btn btn-outline-secondary"
                                            type="button">
                                        <i class="fa-solid fa-person-circle-plus"></i><a asp-controller="Fluxo" asp-action="Create" class="text-dark">
                                            Fluxo
                                        </a>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </nav>

    <!-- 
        Speedbutton recebe uma janela com vínculo
    -->
    <DIV id="contenedorSpeedbutton">
        <DIV id="contenedorSpeedbuttontitulo">
            <span style="width:90%">Busca</span>
            <span style="float:right"><a href="javascript:fecharSpeedbutton()"><img STYLE='height: 2em' src="/img/Fechar.png"></a></span>
        </DIV>
    
        <DIV><input type="text" id="buscaSpeedButton"></DIV>
        <DIV id="speedbutton"></DIV>        
    </DIV>


    <SCRIPT>

        var ultimaURLSpeedButtonSemABusca = "";

        $("#buscaSpeedButton").change(function(){
                $("#speedbutton").load(ultimaURLSpeedButtonSemABusca + valor("buscaSpeedButton"));
        })

        $("#buscaSpeedButton").on("keypress", function (e) {
            if (e.which == 13) {
                $("#speedbutton").load(ultimaURLSpeedButtonSemABusca + valor("buscaSpeedButton"));
            }
        })

    </SCRIPT>



    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()

        </main>
    </div>

    </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-start my-auto copyright">
                        <div class="fw-light" style="text-align:center"> (cc) Eixo 2 / 2023 - Grupo 1 - PUC Minas <BR />Controle de Processos</div>
                    </div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
