@{

	IgnoreBody();

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Processos - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Processos.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5  ">
                    <div class="card-body p-0"  >
                        <div class="row ">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image"><img src="~/lib/logo.png" /></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Consulta Pública</h4>
                                    </div>
                                    <p>Informe o CPF junto com o código do processo conforme o seu comprovante de protocolização e clique no botão "Consultar".</p>
                                    <form class="user">
                                        <div class="mb-3"><input class="form-control form-control-user" type="text" id="cpfCnpjInteressado"  placeholder="CPF do Interessado" ></div>
                                        <div class="mb-3"><input class="form-control form-control-user"  type="text" id="codigoProcesso" placeholder="Código do Processo"></div>
                                        <div class="mb-3">
                                        </div>
                                        <a class="btn btn-primary d-block btn-user w-100" href="javascript:consultarProcesso()" type="submit">Consultar</a>
                                        <hr>

                                        <DIV id="contenedorConsultaPublica"></DIV>

                                        <a class="btn btn-primary d-block btn-facebook btn-user w-100" role="button" href="/">
                                            Entrar no sistema
                                        </a>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>



