@model Processos.Models.Fluxo

@{
    ViewData["Title"] = "Cadastrar novo fluxo";
}




<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="codigoSetorOrigem" class="control-label"></label>
                <input asp-for="codigoSetorOrigem" id="codigoSetorOrigem" class="form-control" style="display:none" />
              
                <a class='fakeinput' href="javascript:speedbutton('SETOR', 'codigoSetor', 'codigoSetorOrigem', 'nome', 'exibicaoCodigoSetorOrigem')">
                    <span id="exibicaoCodigoSetorOrigem"></span>
                </a>

                <span asp-validation-for="codigoSetorOrigem" class="text-danger"></span>
            </div>






            <div class="form-group">
                <label asp-for="codigoSetorDestino" class="control-label"></label>
                <input asp-for="codigoSetorDestino" id="codigoSetorDestino" class="form-control" style="display:none" />

                <a class='fakeinput' href="javascript:speedbutton('SETOR', 'codigoSetor', 'codigoSetorDestino', 'nome', 'exibicaoCodigoSetorDestino')">
                    <span id="exibicaoCodigoSetorDestino"></span>
                </a>

                <span asp-validation-for="codigoSetorDestino" class="text-danger"></span>


            </div>


            <div class="form-group">
                <label asp-for="codigoTipoProcesso" class="control-label"></label>
                <input asp-for="codigoTipoProcesso" class="form-control" style="display:none" />
              

                <a class='fakeinput' href="javascript:speedbutton('TIPO_PROCESSO', 'codigoTipoProcesso', 'codigoTipoProcesso', 'nomeTipoProcesso', 'exibicaoTipoProcesso')">

                <span id="exibicaoTipoProcesso"></span>

                </a>
                
                <span asp-validation-for="codigoTipoProcesso" class="text-danger"></span>
            </div>
            <div class="form-group pt-1">
                <input type="submit" value="Cadastrar" class="btn btn-primary" /> | 
                <button class="btn btn-light"><a aps-asp-controller="Fluxo" asp-action="Index">Voltar</a></button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
