@model IEnumerable<Processos.Models.Fluxo>

<h1>Listagem de Fluxos</h1>

<p>
    <a asp-action="Create">Adicionar um novo fluxo</a>
</p>


<DIV id='formBusca'>
    <DIV><input type="text" id="Busca"></DIV>
    <DIV id="contenedorBuscaLista"></DIV>
</DIV>


<SCRIPT>

    $("#Busca").change(function () {
        lista("Fluxo", "FLUXO")
    })

    $("#Busca").on("keypress", function (e) {
        if (e.which == 13) {
            lista("Fluxo", "FLUXO")
        }
    })

    $(document).ready(function(){
        lista("Fluxo", "FLUXO")
    });

    

</SCRIPT>
