@model Processos.Models.Usuario

@{
    ViewData["Title"] = "Cadastrar um novo usuário";
}

<h1></h1>



<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cpfUsuario" class="control-label"></label>
                <input asp-for="cpfUsuario" class="form-control" />
                <span asp-validation-for="cpfUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="senha" class="control-label"></label>
                <input asp-for="senha" class="form-control" />
                <span asp-validation-for="senha" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="administrativo" /> @Html.DisplayNameFor(model => model.administrativo)
                </label>
            </div>
            <div class="form-group pt-1">
                <input type="submit" value="Cadastrar" class="btn btn-primary" /> |
                <button class="btn btn-outline-secondary "><a asp-controller="Usuario" asp-action="Index">Voltar</a></button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


