@model Processos.Models.Usuario

@{
    ViewData["Title"] = "Editar usuário";
}




<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="cpfUsuario" />
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="senha" class="control-label"></label>
                <input asp-for="senha" class="form-control" />
                <span asp-validation-for="senha" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="administrativo" /> @Html.DisplayNameFor(model => model.administrativo)
                </label>
            </div>
            <div class="form-group pt-1">
                <input type="submit" value="Salvar" class="btn btn-primary" /> |
                <button class="btn btn-outline-secondary"><a asp-controller="Usuario" asp-action="Index">Voltar</a></button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<DIV id="contenedorSetoresUsuario"></DIV>

<SCRIPT>

    $(document).ready(function () {

        atualizarSetoresUsuario(valor("cpfUsuario"));

    });

</SCRIPT>