@model IEnumerable<Processos.Models.Usuario>

<h1>Listagem de Usuários</h1>

<p>
    <a asp-action="Create">Adicionar um novo usuário</a>
</p>


<DIV id='formBusca'>
    <DIV><input type="text" id="Busca"></DIV>
    <DIV id="contenedorBuscaLista"></DIV>
</DIV>


<SCRIPT>

    $("#Busca").change(function () {
        lista("Usuario", "USUARIO")
    })

    $("#Busca").on("keypress", function (e) {
        if (e.which == 13) {
            lista("Usuario", "USUARIO")
        }
    })

    $(document).ready(function () {
        lista("Usuario", "USUARIO")
    });



</SCRIPT>
