@model IEnumerable<Processos.Models.Usuario>

<h1>Listagem de Usuários</h1>



<DIV id='formBusca'>
    <DIV><input type="text" id="Busca" class="form-control form-control-sm" placeholder="Procurar Usuário"></DIV>
    <DIV id="contenedorBuscaLista"></DIV>
</DIV>


<SCRIPT>

    $("#Busca").change(function () {
        lista("Usuario", "USUARIO")
    })

    $("#Busca").on("keypress", function (e) {
        if (e.which == 13) {
            lista("Usuario", "USUARIO")
        }
    })

    $(document).ready(function () {
        lista("Usuario", "USUARIO")
    });



</SCRIPT>
