@model Processos.Models.Interessado

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar um interessado existente</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="codigoInteressado" />
            <div class="form-group">
                <label asp-for="cpfCnpjInteressado" class="control-label"></label>
                <input asp-for="cpfCnpjInteressado" class="form-control" />
                <span asp-validation-for="cpfCnpjInteressado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefone" class="control-label"></label>
                <input asp-for="telefone" class="form-control" />
                <span asp-validation-for="telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="logradouro" class="control-label"></label>
                <input asp-for="logradouro" class="form-control" />
                <span asp-validation-for="logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numero" class="control-label"></label>
                <input asp-for="numero" class="form-control" />
                <span asp-validation-for="numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complemento" class="control-label"></label>
                <input asp-for="complemento" class="form-control" />
                <span asp-validation-for="complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bairro" class="control-label"></label>
                <input asp-for="bairro" class="form-control" />
                <span asp-validation-for="bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cidade" class="control-label"></label>
                <input asp-for="cidade" class="form-control" />
                <span asp-validation-for="cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="uf" class="control-label"></label>
                <input asp-for="uf" class="form-control" />
                <span asp-validation-for="uf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pais" class="control-label"></label>
                <input asp-for="pais" class="form-control" />
                <span asp-validation-for="pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cep" class="control-label"></label>
                <input asp-for="cep" class="form-control" />
                <span asp-validation-for="cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

