@model IEnumerable<Processos.Models.Interessado>

<h1>Listagem de Interessados</h1>

<p>
    <a asp-action="Create">Adicionar um novo interessado</a>
</p>


<DIV id='formBusca'>
    <DIV><input type="text" id="Busca"></DIV>
    <DIV id="contenedorBuscaLista"></DIV>
</DIV>


<SCRIPT>

    $("#Busca").change(function () {
        lista("Interessado", "INTERESSADO")
    })

    $("#Busca").on("keypress", function (e) {
        if (e.which == 13) {
            lista("Interessado", "INTERESSADO")
        }
    })

    $(document).ready(function () {
        lista("Interessado", "INTERESSADO")
    });



</SCRIPT>
