html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



#contenedorSpeedbutton {
    display: none;

   position: absolute;

   left: 10%;
   right: 10%;
   top: 10%;
   bottom: 10%;
   background-color: #CCCCDD;
   border: 1px solid red;
    
}

#listaSpeedButton{

   border: 1px solid #000;
   border-collapse: collapse;

}
    
#listaSpeedButton td {
    border: 1px solid 555;
}

#contenedorSpeedbuttontitulo{
    font-size: +2em;
    font-weight: bold;
}


#debug{

    background-color: #112;
    color: #CCCCDD;
    padding: 1em;
    margin: 1em;
    font-family: monospace;
}


#registroNaoEncontrado{
    background-color: #FFD;
    color: #000;
    font-weight: bold;
    border: 1px solid #FF0;
    padding: 1em;
   

}