html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#Busca {
    margin-bottom: 1em;
}

#Busca:focus {
    background-color: #FFFFCC;
}

#contenedorSpeedbutton {
    display: none;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    background-color: #FFF;
    border: 1px solid #000;
    z-index: 1000;
}

#listaSpeedButton{

   border: 1px solid #000;
   border-collapse: collapse;

}
    
#listaSpeedButton td {
    border: 1px solid 555;
}

#contenedorSpeedbuttontitulo{
    font-size: +2em;
    font-weight: bold;
}


#debug{
    display:none; // Setar para block quando for depurar SQL
    background-color: #112;
    color: #CCCCDD;
    padding: 1em;
    margin: 1em;
    font-family: monospace;
}


#registroNaoEncontrado{
    background-color: #FFD;
    color: #000;
    font-weight: bold;
    border: 1px solid #FF0;
    padding: 1em;
}

.fakeinput {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    min-height: 2em;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



/*
    Capa do processo (consulta publica)
*/
#contenedorProcesso{
    border: 1px solid #000;
    margin-left: 10%;
    margin-right: 10%;
}
/*
    Lista da movimentacao do processo (consulta publica)
*/
#movproc {
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #000;
    width: 80%;
}


#lsi {
    border: 1px solid #F55;
    background-color: #ffdede;
    color: #F00;
    font-weight: bold;
    display: none;
    padding: .4em;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 1em;
}