@model Processos.Models.Movimentacao

@{
    ViewData["Title"] = "Criar Movimentação";
}

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="codigoProcesso" class="control-label"></label>
                <input asp-for="codigoProcesso" class="form-control" />
                <span asp-validation-for="codigoProcesso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataHora" class="control-label"></label>
                <input asp-for="dataHora" class="form-control" />
                <span asp-validation-for="dataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cpfUsuarioTramite" class="control-label"></label>
                <input asp-for="cpfUsuarioTramite" class="form-control" />
                <span asp-validation-for="cpfUsuarioTramite" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="codigoSetorLocalizacao" class="control-label"></label>
                <input asp-for="codigoSetorLocalizacao" class="form-control" style="display:none"/>
                <a class='fakeinput' href="javascript:speedbutton('SETOR', 'codigoSetor', 'codigoSetorLocalizacao', 'nome', 'exibicaoSetor')">
                    <span id="exibicaoSetor"></span>
                </a>
                <span asp-validation-for="codigoSetorLocalizacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="pt-1">
    <button class="btn btn-outline-secondary"><a asp-action="Index">Voltar</a></button>

</div>

